.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container{
  min-height: 100vh;
  display: grid;
  background-color: #282c34;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: #282c34;
  color: white;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
